---
import { getCollection } from "astro:content";
import TaxonomyCloud from "../../components/TaxonomyCloud.astro";
import { SITE_TITLE } from "../../consts";
import Layout from "../../layouts/Layout.astro";
import { collectTaxonomy } from "../../lib/utils";

const posts = await getCollection("posts");
const categories = collectTaxonomy(posts, "categories");
---

<Layout
  title={`分类 | ${SITE_TITLE}`}
  description="浏览博客分类云"
  className="flex min-h-svh max-w-4xl flex-col"
>
  <main class="pb-16">
    <TaxonomyCloud
      title="分类"
      description={`共 ${categories.length} 个分类`}
      items={categories}
      type="categories"
    />
  </main>
</Layout>
